<script type="text/javascript">
  links = new Array("http://www.eucurtoeucuido.com.br/","http://www.parceirosvoluntarios.org.br/","http://www.unisinos.br/", "http://www.portoalegre.rs.gov.br/");  
  
  imagemAtual = 0;
  numImagens = links.length;
  
  function cicloImagens(){
      imagemAnterior = imagemAtual;
      imagemAtual++;
      if (imagemAtual == numImagens) {
          imagemAtual = 0;
      }
      jQuery("#left_banner" + imagemAnterior.toString()).hide();
      jQuery("#left a.logo-unisinos").attr("href", links[imagemAtual]);
      jQuery("#left_banner" + imagemAtual.toString()).fadeIn(800);
      
      setTimeout("cicloImagens()", 3 * 1000);
  }
  jQuery(document).ready(function() {
    cicloImagens();
  });
</script>
<div id="left">

  <div id="bgLogo">
    <h1><a href="/" id="logo"><img src="/images/logo-sb.png" /></a></h1>
  </div>
  
  <div id="boxLeft">
    <div class="content">           
    </div>
  </div>

</div>
<style type="text/css">
  #boxLeft {z-index:9999; height: 836px;}
</style>
