<div id="footer">
    <div id="nav_menu">
        <ul class="nav">
            <!--
            <li class="itm01">
                <a href="javascript:;" onclick="openModal('termos_de_uso');">REGULAMIN</a>
            </li>
            <li class="itm02">
                <a href="javascript:;" onclick="openModal('como_participar');">DOŁĄCZ</a>
            </li>
        -->
            <li class="itm03">
                <a href="javascript:;" onclick="openModal('apoiadores');">PARTNERZY</a>
            </li>
            <!--
            <li class="itm04">
                <a href="https://docs.google.com/spreadsheet/viewform?hl=pt_BR&formkey=dHc1ZzhueEJ3R1k1TmlDeDQxRjFJTkE6MQ#gid=0" target="_blank">WOLONTARIAT</a>
            </li>
            -->
            <li class="itm05">
                <a href="javascript:;" onclick="openModal('fale_conosco');">KONTAKT</a>
            </li>
            <li style="float:right;color:#9EBCCC;">
                Materiały na stronie są dostępne na licencji <a class="license" href="https://creativecommons.org/licenses/by/3.0/pl/">Creative Commons Uznanie Autorstwa 3.0 Polska</a>
            </li>            
        </ul>
    </div>
    <div id="partners">
		<ul class="apoios">
            <li class="itm01">
                <h4>Warsztat Innowacji Społecznych</h4>
                <a href="http://warsztat.org.pl"><img src="/images/footer/logo-wis.png" style="height:65px;"/></a>
            </li>
            <li class="itm02">
                <h4>Fundacja ePaństwo</h4>
                <a href="http://epf.org.pl/pl"><img src="/images/footer/logo-epanstwo.png" style="height:58px;"/></a>
            </li>
            <li class="itm03">
                <h4>MAiC</h4>
                <a href="https://mac.gov.pl"><img src="/images/footer/logo-maic.png"/></a>
            </li>
		</ul>
    </div>
</div>
