 <script type="text/javascript">
  links = new Array("http://www.eucurtoeucuido.com.br/","http://www.parceirosvoluntarios.org.br/","http://www.unisinos.br/", "http://www.portoalegre.rs.gov.br/");
  
  imagemAtual = 0;
  numImagens = links.length;
  
  function cicloImagens(){
      imagemAnterior = imagemAtual;
      imagemAtual++;
      if (imagemAtual == numImagens) {
          imagemAtual = 0;
      }
      jQuery("#left_banner" + imagemAnterior.toString()).hide();
      jQuery("#left a.logo-unisinos").attr("href", links[imagemAtual]);
      jQuery("#left_banner" + imagemAtual.toString()).fadeIn(800);
      
      setTimeout("cicloImagens()", 3 * 1000);
  }

  function filter_by_budget_change() {
    var budget_id = $("#budget_budget_id").val();
    var budget_locked = parseInt($("#budget_budget_id option[value='" + budget_id + "']").attr('data-locked'));
    var budget_city = $("#budget_budget_id option[value='" + budget_id + "']").attr('data-city')
    console.debug(budget_id);
    console.debug(budget_locked);

    // update projects
    map.budgetize(budget_id);

    // update project creation button
    var $addproject = $('#createCauseButton');
    if (budget_locked) {
      $addproject.addClass('locked');
      $('#boxLeft .content').append("<div class='hint'>Tworzenie projektów dla wybranego budżetu zostało zablokowane.</div>")
    }
    else {
      $addproject.removeClass('locked');
      $('#boxLeft .hint').remove();
    }

    // update district filter
    if (budget_city != '') {
      $(".comboLst > li[data-city='" + budget_city + "']" ).show();
      $(".comboLst > li[data-city!='" + budget_city + "']" ).hide();
    }
    else {
      $(".comboLst > li").show();
    }
    $('.scroll-pane').jScrollPane();
  }

  jQuery(document).ready(function() {
    cicloImagens();
    $("#budget_budget_id").select2();
    $("#budget_budget_id").bind("change", filter_by_budget_change);
  });
</script
><div id="left">

	<div id="bgLogo">
		<h1><a href="/" id="logo"><img src="/images/logo-sb.png" /></a></h1>
	</div>
	
	<div id="boxLeft">
    <div class="content">
			<h2>Informacje</h2>
			<p>Oddajemy w wasze ręce stronę której celem jest popularyzacja wiedzy na temat nowatorskiego sposób wydatkowania pieniędzy publicznych w którym mieszkańcy decydują o tym jakie zadania powinny być zrealizowane w ich okolicy. Jeżeli chcesz uzyskać więcej informacji czytaj&nbsp;<a href="javascript:;" class="lnkSobreProjeto" onclick="openModal('sobre_o_projeto');">Dalej</a></p>

			<div id="crieCausa" class="fake-last">
				<a href="javascript:;" id="createCauseButton" class="lnkEscrever">DODAJ PROJEKT</a>
			</div>

			<ul id="redesSociais">
			</ul>
			<span class="break"><!--  --></span>
			
      <div class="budget-filter" data-step="1" data-intro="Rozpocznij od wybrania interesującego Cię Budżetu." data-position='right'>
        <span>BUDŻET</span>
        <%= budgets_filter_select(@budgets, budget_filter) %>
      </div> 

      </a>        				
		</div>
	</div>

</div>
