\<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Partnerzy</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Kto nas wspiera</h3>
					
					<p>Realizacja projektu nie byłaby możliwa bez wsparcia różnych organizacji. Chciałbym podziękować </p>
<p><a href="http://">Ministerstwu Administracji i Cyfryzacji</a> która wsparła finansowo tworzenie projektu. Dzęki temu impulsowi zaczęliśmy wierzyć w powodzenie projektu.</p>
<p><a href="http://">Fundacji e-Państwo</a> która wzięła projekt pod swoją opiekę dostarczająć wsparcia merytorycznego oraz pomagając dotrzeć do odpowiednich ludzi i informacji w odpowiednim czasie.</p>
<p><a href="http://">Fundacji Warsztat Innowacji Społecznych</a> która udzieliła niezbędnego wsparcia podczas prowadzenia i rozliczania projektu</p>
<p><a href="http://>Fundacji </a></p>
										
					
						<span class="break"><!--  --></span>
					</div>
					<span class="break"><!--  --></span>
					
					
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	GA.track('/site/outros/apoiadores');
</script>
