<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Szukamy wolontariuszy.</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Abrace esta causa</h3>
					<p>Budżet-Partycypacyjny.pl ma na celu rozbudzenie w każdym odpowiedzialności do ochrony i opieki nad miastem. Jeśli dbasz o kwestie takie jak bezpieczeństwo na drogach, parki i środowisko, sprzątanie, oraz wiele innych, które wpływają każdego dnia z dnia na twoje Miasto, możesz przyczynić się do jego rozwoju. Bądź jeżeli jesteś opiekunem miasta i chcesz poinforomować za pośrednictwem strony jakie działania w ramach Budżetu Partycypacyjnego prowadzone są w okolicy możesz pomóc projektowi.</p>

					<p id="feedbackMessage"></p>
					<form name="seja_um_voluntario" action="send_volunteer_form">
						<fieldset id="newCauseForm" class="mb15">
							<label for="name">Imię</label>
							<input id="name" class="required" name="name" type="text" style="width:400px;" />
	
							<label for="email">Email</label>
							<input id="email" class="required" name="email" type="text" style="width:400px;" />
							
							<label for="telefone">Numer telefonu</label>
							<input id="telefone" class="required" name="telefone" type="text" style="width:400px;" />
							
							<label for="pagina">Osobista strona</label>
							<input id="pagina" class="required" name="pagina" type="text" style="width:400px;" />
							
							<label for="mensagem">Skąd wiesz o projekcie</label>
							<textarea id="mensagem" class="required" name="mensagem" style="width:400px;height:110px;" onkeydown="limitTextArea(this, 525, '#abstractLimit')" onblur="limitTextArea(this, 525, '#abstractLimit')"></textarea><br />
							<span class="ctdor"><strong id="abstractLimit">525</strong> caracteres restantes</span>
						</fieldset>
					

						<div class="boxBottom">
						<a href="javascript:;" class="btn fl enviar">ENVIAR</a>
					</form>
					<%#=
					<input type="image" src="img/px.gif" class="btn fl postar" value="POSTAR" />
					<a href="javascript:;" class="btn fl postar">POSTAR</a>
					<input type="text" />
					<span>Sed fermentum vehicula rutrum. Aliquam erat volutpat. Nunc sit amet ligula velit. </span>
					%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	$('a.enviar').bind('click', function() {
			var validationMessages = [
			'Proszę podać swoje imię i nazwisko '
			'Wpisz swój adres e-mail',
			'Wpisz telefon',
			'Podaj swoją stronę',
			'Wpisz wiadomość'
	        ];
            
        	sendForm(this, null, validationMessages);
		});
</script>
<script type="text/javascript">
	GA.track('/site/outros/seja_um_voluntario');
</script>
