<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>O projekcie</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Mapa.Budzet-Partycypacyjny.pl</h3>
					<h2>Co to jest budżet partycypacyjny?</h2>
<p>Partycypacja to inaczej współuczestniczenie. Dzięki budżetowi partycypacyjnemu mieszkańcy gminy, dzielnicy, wsi lub osiedla mogą uczestniczyć w projektowaniu loklanych wydatków . Władze oddają pewną część budżetu do dyspozycji mieszkańcom, którzy sami decydują, na co przeznaczyć pieniądze. Robią to poprzez:</p>
<ul>
<li>uczestniczenie w określaniu najpilniejszych wydatków,</li>
<li>składanie własnych propozycji</li>
<li>większą rolę w kontroli wydatków publicznych.</li>
</ul>
<p>W odróżnieniu od konsultacji społecznych, w wypadku budżetu partycypacyjnego decyzje podjęte przez mieszkańców są wiążące. Jest wiele różnych modeli takiego tworzenia budżetu. W każdym z nich zakres bezpośredniego wpływu mieszkańców jest różny. Jednak najważniejsze to umożliwienie mieszkańcom zabrania głosu.</p>
<h2>Dlaczego budżet partycypacyjny?</h2>
<p>Budżet partycypacyjny pozwala bardziej efektywnie gospodarować pieniędzmi. Jest tak ponieważ:</p>
<ul>
<li>ułatwia identyfikację najistotniejszych potrzeb największej części mieszkańców,</li>
<li>pozwala skutecznie odpowiadać na oczekiwania</li>
<li>wspomaga integrację społeczności lokalnej,</li>
<li>wspiera wspólnotę samorządową podnosi poziom społecznego zaufania do lokalnych władz.</li>
</ul>
<p>Budżet partycypacyjny oznacza większą przejrzystości działań samorządu terytorialnego i włączanie obywateli w proces sprawowania władzy w samorządach.</p>
<a href="https://mac.gov.pl/budzet-partycypacyjny">Więcej</a>
<h2>O stronie</h2>
<p>Celem strony którą oglądasz jest prezentacja projektów które zakwalifikowały się do budżetów partycypacyjnych w poprzednich latach. Dzięki niej będziesz miał możliwość monitorowania stopnia realizacji realizacji interesujących cię projektów.</p>
<p>Możesz stronę wykorzystywać także do promocji zgłoszonych przez Ciebie projektu w ramach aktualnie trwającego budżetu partycypacyjnego w twojej okolicy. Dodaj projekt i promuj go wśród znajomych oraz mieszkańców swojej okolicy. Nie pozostawaj anonimowy.</p>
<ul>
<li>opowiedz o swoim pomyśle, </li>
<li>zdobądź poparcie i</li>
<li>zrealizuj swój wymarzony projekt.</li>
</ul>

					<p>Skontaktuj się z <a href="javascript:;" onclick="openModal('fale_conosco');">nami</a> lub odwiedź nas na <a href="http://twitter.com/nazwa_profilu" target="_blank">Twitter</a>, <a href="http://www.facebook.com/nazwa_profilu" target="_blank">Facebook</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	GA.track('/site/outros/sobre_o_projeto');
</script>