<div id="mdlSobreProjeto" class="modalBox">
    <a class="close-button" href="javascript:;" onclick="$.closePopupLayer()">close</a>
	<div class="ctm">
	<div class="mdlPin"><!-- --></div>
	<h2>Regulamin</h2>
	<div class="ctl"><!-- --></div><div class="ctr"><!-- --></div></div>
	<div class="cml">
		<div class="cmr">
			<div class="cmm">
				<div class="mdlIn sobreProjeto">
					<h3>Przeczytaj uważnie</h3>
					
					<div class="scroll-pane">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at est orci. Maecenas quis quam eu urna rhoncus rhoncus fringilla a arcu. Sed venenatis velit dolor, nec tristique risus blandit non. Morbi nunc tortor, interdum eget dictum vitae, consectetur quis purus. Nam ac eleifend felis. In blandit aliquet neque sed euismod. Cras gravida convallis neque aliquam viverra. Etiam at consequat mauris, ut varius ex. Maecenas faucibus urna id tellus malesuada iaculis. Fusce gravida sit amet urna eu dapibus. Maecenas sit amet diam at neque vehicula dapibus. Nulla posuere magna pulvinar elit sollicitudin, quis pretium libero cursus.</p>

						<p>Morbi lacinia tellus in blandit pharetra. Ut eu velit nec felis congue fermentum id eu magna. Maecenas efficitur tellus arcu, ut volutpat nibh elementum quis. Curabitur venenatis lacinia metus quis dictum. Phasellus venenatis gravida velit id venenatis. Mauris suscipit, leo eget mollis rhoncus, sem libero bibendum purus, a laoreet ligula tortor id nisi. Proin nec orci sodales, vestibulum nisl et, vestibulum nulla. Nunc lectus ligula, mollis ut felis a, efficitur consectetur justo. Integer viverra facilisis tortor nec laoreet. Donec ac commodo ligula.</p>

						<p>Aliquam tincidunt imperdiet tellus, ut rutrum dui gravida id. Etiam tempus elit eget dolor tempus mollis. Donec auctor commodo eleifend. Donec ut lacinia sem. Maecenas sit amet mollis velit. Mauris aliquam ornare commodo. Nunc vel risus ut nisi elementum viverra et sit amet sapien. Nulla ultricies id odio id fermentum.</p>

						<p>Sed et pharetra lorem. Pellentesque a aliquam neque. Sed eu elit vitae lectus suscipit posuere. Mauris aliquet pulvinar ornare. Mauris ultricies nisl et molestie molestie. Mauris varius ipsum felis. Morbi et dictum eros, mattis semper est.</p>

						<p>Aenean at sem commodo, egestas elit nec, ornare diam. Aliquam euismod nisl non erat commodo, ac ornare nunc viverra. Vivamus feugiat ultricies lacinia. Ut placerat pretium facilisis. Nam consequat id leo vel malesuada. Nam ut lacus at est sagittis viverra. Mauris id commodo metus. Vestibulum condimentum malesuada laoreet. Quisque posuere hendrerit ultricies. Nulla ac iaculis massa. Quisque tempor dapibus faucibus. Duis lacus leo, consequat in auctor a, sagittis at tellus. Praesent felis purus, posuere vel elit eu, bibendum pulvinar orci. Suspendisse ex tortor, bibendum et mi nec, feugiat tristique sem. Etiam eleifend eu tortor quis rutrum. Nulla scelerisque, elit quis vestibulum egestas, neque erat viverra dui, quis congue turpis libero a velit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cbm"><div class="cbl"><!-- --></div><div class="cbr"><!-- --></div></div>
	<div class="pntDwn"><!-- --></div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.scroll-pane').jScrollPane();
	});
</script>
<script type="text/javascript">
	GA.track('/site/outros/termos_de_uso');
</script>