Projekt: <b><%= @cause.title %></b> został skomentowany.<br/><br />
 
<span style='color: #23485b; font-weight: bold;'>Kliknij <a href="<%= 'http://www.portoalegre.cc' + @cause.url %>" style="color: #72bd3c; text-decoration: none;">tutaj</a> aby przeczytać treść.</span><br/><br/>
 
Zespół community.societybuilder.pl
